<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="constr"  connectionString="Data source=.;User Id=sa; Password=sqlserver2008; Database=Practice"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network userName="bakshirishab90@gmail.com" password="Vipul1991" host="smtp.gmail.com"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
